.ED-Authlogo {
    width: 100%;
    margin-bottom: 20px;
}

.ED-signup-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.ED-signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ED-signup-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 1rem;
}

.ED-input-container {
    position: relative;
    margin-bottom: 1.5rem;
}

.ED-input-icon-wrapper {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    pointer-events: none;
}



.ED-input-field {
    width: 100%;
    padding: 0.5rem 0.75rem 0.5rem 2.5rem;
    background-color: rgba(31, 41, 55, 0.5);
    border-radius: 0.5rem;
    border: 1px solid #374151;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}


.ED-signup-button {
    width: 100%;
    padding: 0.8rem;
    background: var(--secondarycolor);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}


.ED-social-signup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.ED-social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.ED-google-button {
    background: #f1f1f1;
}

.ED-google-button:hover {
    background: #eaeaea;
}

.ED-facebook-button {
    background: #4267B2;
    color: #fff;
}

.ED-facebook-button:hover {
    background: #365899;
}

.ED-social-icon {
    font-size: 1.5rem;
}

.ED-login-text {
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.ED-login-link {
    color: var(--secondarycolor);
    text-decoration: none;
    font-weight: bold;
}

.ED-login-link:hover {
    text-decoration: underline;
}

.ED-error-text {
    color: #ff4d4d;
    font-size: 0.9rem;
    text-align: center;
}