.customizer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;

}

.model-customizer-panel {
    background-color: #f4f4f4;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    max-width: 300px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: 10px;
    margin-left: 2px;
}


.model-customizer-panel h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.model-customizer-panel input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.model-customizer-panel button {
    width: 100%;
    padding: 3px;
    margin: 5px 0;
    font-size: 1rem;
    background-color: #596b56;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.model-customizer-panel button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .customizer-container {
        flex-direction: column;
        align-items: stretch;
    }

    .model-customizer-panel {
        width: 100%;
        max-width: 100%;
    }
}