.draggable-item {
    opacity: 1;
    cursor: grab;
    padding: 10px;
    border: 2px solid #596b56;
    border-radius: 8px;
    text-align: center;
    background-color: #f9f9f9;
    transition: opacity 0.3s, transform 0.2s;
    width: 48%;
    margin-bottom: 10px;
}

.model-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.draggable-item:active {
    transform: scale(0.95);
}

.canvas-container {
    width: 150px;
    height: 150px;
    margin: auto;
}