.slider-container {
    position: relative;
    background-color: #e6f4b4;
    padding: 20px 0;
    border-radius: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    max-width: 85%;
    margin: 50px auto;
    overflow: hidden;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider {
    display: flex;
    will-change: transform;
}

.slider-image {
    width: 150px;
    margin: 0 20px;
    flex-shrink: 0;
}