.burger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 999;
    border-radius: 5px;
}

.cart-tab {
    position: fixed;
    top: 0;
    right: 0;
    width: 24rem;
    height: 100%;
    background-color: var(--secondarycolor);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 998;
}

.cart-tab.open {
    transform: translateX(0);
}

.cart-header {
    padding: 1.25rem;
    color: white;
    font-size: 1.5rem;
}

.cart-body {
    padding: 1.25rem;
    overflow-y: auto;
}

.cart-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.close-btn,
.checkout-btn {
    padding: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

.close-btn {
    background-color: #000;
}

.checkout-btn {
    background-color: var(--firstcolor);
}