.ED-section-header {
    text-align: center;
}


.ED-section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: bold;
}

.ED-line {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0px auto 70px auto;
    background-color: var(--secondarycolor);
}