.ED-footer {
    background-color: var(--thirdarycolor);
    color: #000;
    padding: 3rem 2rem;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ED-footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.ED-footer-logo img {
    width: 130px;
}

.ED-footer-section h3,
.ED-footer-help h3 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.ED-footer-section ul,
.ED-footer-help p {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ED-footer-section li {
    margin-bottom: 0.5rem;
}

.ED-footer-section a {
    text-decoration: none;
    color: #000;
}

.ED-footer-bottom {
    border-top: 1px solid #ccc;
    margin-top: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ED-footer-social,
.ED-footer-payment {
    margin-bottom: 1.5rem;
}

.ED-footer-social h4,
.ED-footer-payment h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ED-social-icons,
.ED-payment-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
}

.ED-footer-rights {
    text-align: center;
    font-weight: 600;
    margin-top: 2rem;
}



@media (max-width: 488px) {
    .ED-footer {
        padding: 3rem 6rem;
    }
}